# Ignore node_modules directory
node_modules/

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore build directory
/dist

# Ignore log files
*.log

# Ignore the .cache directory (used by some build tools)
.cache/

# Ignore the public directory (used by some frameworks like Gatsby)
/public

# Ignore the .next directory (used by Next.js)
.next/

# Ignore the Next.js configuration file
next.config.js
.next/trace
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages/index.js
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
src/images/.DS_Store
.next/trace
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages-manifest.json
.next/cache/webpack/client-development/index.pack.old
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/cache/webpack/server-development/1.pack
