@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './prism.css';

.bg-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  